<template>
  <div class="products">
    {{hasilTemp.name}}
    <br><br>
    <img :src="hasilTemp.img" />
    <br><br>
    <div class="price">{{hasilTemp.price}}</div>
  </div>
</template>

<script>
import { request } from '../utils'

export default {
  name: 'detail',

  data () {
    return {
      hasil: {
        type: Object
      },
      hasilTemp: {
        type: Object
      },
      id: {
        type: Number
      }
    }
  },

  created () {
    request(`/api/products`)
      .then(res => {
        if (res.success) {
          this.hasil = res.data
          this.id = this.$route.params.id
          this.hasilTemp = this.hasil.find(value => value.id === this.id)
        }
      })
  }
}
</script>

<style scoped>
  .products{
    text-align: center;
  }
  .price {
    background-color: #58ace4 !important;
    width: 20vw;
    padding: 0;
    border-radius: 1em;
    margin: 0 auto !important;
    font-size: 50% !important;
    color: #fff;
  }
  .products img{
    max-width: 350px;
  }
</style>
