<template>
  <div>
    <search @coba="searchProduct"></search>
    <product v-for="data in setData" :key="data.id" :product="data" :filter="valSearch"></product>
  </div>
</template>

<script>
import Product from '../components/Product'
import Search from '../components/Search'
import { request } from '../utils' // use to get data

export default {
  name: 'list',

  components: {
    Product,
    Search
  },

  data () {
    return {
      valSearch: '',
      setData: {
        type: Array
      },
      products: {
        type: Array
      }
    }
  },

  created () {
    request(`/api/products`)
      .then(res => {
        if (res.success) {
          this.setData = res.data
          this.products = res.data
        }
      })
  },
  methods: {
    searchProduct (val) {
      this.setData = []
      this.products.find((value, index) => {
        let key = new RegExp(val, 'i')
        if (key.test(value.name)) {
          this.setData.push(value)
        }
      })
      this.valSearch = val
    }
  }
}
</script>

<style>

</style>
