<template>
  <div class="products">
    <div v-on:click="path(product.id)" class="product">
      <div>
        <highlightText :namaProd="highlight(product.name, filter)">
        </highlightText>
      </div>
      <div :key="product.id"> {{product.price}} </div>
    </div>
  </div>
</template>

<script>
import HighlightText from './HighlightText'

export default {
  name: 'product',
  components: {
    HighlightText
  },
  props: ['product', 'filter'],
  methods: {
    highlight: function (val, key) {
      // this._val = val
      if (val) {
        return val.toString().replace(new RegExp(key, 'i'), function (match) {
          return ('<span class=\'highlight\'>' + match + '</span>')
        })
      } else {
        return val
      }
    },
    path: function (val) {
      // this.$router.push({ path: `/detail/${val}/red` })
      this.$router.push({ path: `/detail/${val}` })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
