<template>
  <div class="search-container">
    <input type="text" class="search" v-model="search" v-on:input="show()"/>
  </div>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    show: function () {
      this.$emit('coba', this.search.trim())
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
